{% extends "layout_unbranded.html" %}

{% block page_title %}
  Tax Tribunals Prototype
{% endblock %}

{% block body_classes %}index clear-session{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-large">Tax Tribunals Prototypes</h1>

  <h2 class="heading-medium">Complete journey</h2>
  <ol class="list list-alpha">
    <li><a href="/end_to_end/start-end-to-end">"End-to-end" mode</a></li>
    <li><a href="/end_to_end/start-task-list">"Task list" mode</a></li>
  </ol>

  <h2 class="heading-medium">Experiments</h2>
  <ul class="list list-bullet">
    <li><a href="/document-upload/v1">Document upload - basic html upload</a></li></li>
  </ul>

</main>

{% endblock %}


